<header class="page-header-internal">
    <div class="container no-shadow">
    </div>
</header>

    <main>
      <!-- Three types -->
      <section>
        <div class="container">
          <header class="section-header">
            <span>Plans</span>
            <h2>Three types</h2>
          </header>


          <ul class="pricing">
            <li>
              <h6>Basic Package</h6>
              <div class="price">
                <sup>$</sup>0
              </div>
              <hr>
              <p><strong>1</strong> job posting</p>
              <p><strong>No</strong> featured job</p>
              <p><strong>15 days</strong> listing duration</p>
              <br>
              <a class="btn btn-primary btn-block" href="#">Select plan</a>
            </li>

            <li>
              <h6>Medium Package</h6>
              <div class="price">
                <sup></sup>49<sup>.99</sup>
               
              </div>
              <hr>
              <p><strong>5</strong> job posting</p>
              <p><strong>1</strong> featured job</p>
              <p><strong>60 days</strong> listing duration</p>
              <br>
              <a class="btn btn-primary btn-block" href="#">Select plan</a>
            </li>

            <li>
              <h6>Big Package</h6>
              <div class="price">
                <sup>$</sup>99<sup>.99</sup>
                
              </div>
              <hr>
              <p><strong>20</strong> job posting</p>
              <p><strong>5</strong> featured job</p>
              <p><strong>90 days</strong> listing duration</p>
              <br>
              <a class="btn btn-primary btn-block" href="#">Select plan</a>
            </li>
          </ul>

        </div>
      </section>
    </main>